.container {
    min-width: 310px;
    width: 60vw;
    max-width: 768px;
    padding: 1rem;
    border: 1px solid darken($color: #fff, $amount: 20);
    border-radius: 10px;

    background-color: darken($color: #fff, $amount: 2);
}

.images-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .img {
        width: 250px;
        margin: 0.5rem;
        opacity: 0.4;

        img {
            width: 100%;
            // opacity: 0.4;
        }

        // &:first-child img {
        //     // opacity: 1;
        // }
    }

    .show {
        opacity: 1;
    }
}

.text-container {
    border: 1px solid darken($color: #fff, $amount: 10);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        font-size: 1.2rem;
        text-align: center;
        font-family: monospace;

        @media screen and (min-width: 425px) {
            font-size: 1.6rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }

    &__category {
        font-size: 1rem;
        margin-top: 1.2rem;
        padding: 0.5rem;
        background-color: #fff;
        font-weight: 100;
        border: 1px solid darken($color: #fff, $amount: 10);
        border-radius: 10px;
    }
}

.buttons-container {

    button {
        display: block;
        min-width: 50px;
        min-height: 30px;
        font-size: 1.2rem;
        height: 30px;
        padding: 0.2rem;
        margin: 0.2rem;
        cursor: pointer;
    }

    .buttons-text, 
    .button-reset {
        margin: 1.2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}