.container {
    min-width: 310px;
    width: 70vw;
    padding: 1rem;
    border: 1px solid darken($color: #fff, $amount: 20);
    border-radius: 10px;

    background-color: darken($color: #fff, $amount: 2);
}

.images-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .img {
        width: 250px;
        margin: 0.5rem;

        img {
            width: 100%;
            opacity: 0.4;
        }

        &:first-child img {
            opacity: 1;
        }
    }
}

.text-container {
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        font-size: 1.2rem;
        text-align: center;

        @media screen and (min-width: 425px) {
            font-size: 1.6rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }
}

.buttons-container {

    button {
        display: block;
        min-width: 50px;
        font-size: 1.2rem;
        height: 30px;
        padding: 0.2rem;
        margin: 0.2rem;
        cursor: pointer;
    }

    .buttons-text, 
    .button-reset {
        margin: 1.2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .buttons-text {
        // display: none;
    }

    .button-reset {
        // display: none;
    }
}